body {
    background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url('../img/wall2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.logo{
    width: 8rem;
}